@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #291237;
  background-color: #291237;
  font-family: "Karla", sans-serif;
  padding: 1em;
}

.divider {
  border-top: 3px solid #c484ea;
  border-radius: 5px;
  border-bottom: none;
  margin-top: 0.5em;
}

.box {
  text-align: center;
  background-color: #f0c6ef75;
  border-radius: 30px 30px 0px 30px;
  padding: 1em;
  border-bottom: 5px solid #8a2be2;
  border-right: 5px solid #8a2be2;
  width: 77em;
  height: 38em;
}

h2 {
  font-family: blur;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 50px;
  margin-top: 0px;
  padding-top: 0px;
  color: #291237;
  text-align: left;
}

.herotext {
  color: #8a2be2;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 200;
  font-style: italic;
  text-align: left;
}

.clicks {
  margin: 0.5em;
  display: inline-block;
  justify-content: left;
  text-align: center;
}

button {
  padding: 0.5em 0.5em;
  background: #c484ea;
  border: 0.5vh solid #c484ea;
  border-radius: 100%;
  font-size: 30px;
  margin: 0.5em;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
}

button:hover {
  color: #8a2be2;
  background-color: transparent;
  border: 0.5vh solid #c484ea;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 8px 1px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

#voice,
#drum,
#synth {
  margin-bottom: 1em;
  font-size: 20px;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "blur";
  src: url("ExtraBlur.ttf");
}
